# 依赖
node_modules/
client/node_modules
server/node_modules

# 日志
*.log
npm-debug.log*

# 数据库
*.db
*.db-shm
*.db-wal

# 构建
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# 系统
.DS_Store
Thumbs.db

# 环境
.env
.env.local

# 上传目录
uploads/

# Prisma
prisma/dev.db